<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
   <meta name="viewport" content='width=device-width, initial-scale=1.0'>
</head>
<body>
	
	<%= render 'layouts/header' %> <!-- call a partial from header file--> 
	<div class="container"> <!-- div is used to group block-elements to format them with CSS, container is CSS, used to wrap site contents for responsive fixed width-->
	<%= yield %> 
	</div>

</body>
</html>
